@import url("https://use.typekit.net/can2owv.css");


$logo-width: 4rem;
$logo-padding: calc(#{$logo-width} / 7);
$logo-border: calc(#{$logo-padding} / 2);

$main-color: #00345c;
$shadow-color: rgba(0, 52, 92, 0.4);
$bg-color: #fefef3;
$border-radius: 0.2em;

$logo-width: 4.75rem;
$logo-padding: calc(#{$logo-width} / 4);
$logo-border: calc(#{$logo-padding} / 2);
$logo-container-width: calc(#{$logo-width} + (#{$logo-padding} * 3));

* {
    font-family: nimbus-sans, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    transition: all 0.2s ease;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
a {
    color: $main-color;
    letter-spacing: 0.0em;
}

h1,
h2 {
    font-family: nimbus-sans, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.8em;
    line-height: 120%;
    font-weight: 800;
    letter-spacing: -0.7px;

    @media only screen and (min-width: 437px) {
        font-size: 2em;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 3em;
    }
}

h2 {
    // font-family: vendetta, serif;
    font-weight: 500;
    font-size: 1.6rem;
}

h3 {
    margin-bottom: 0.25em;
}

h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;

    &.sentence {
        text-transform: none;
    }

    @media only screen and (min-width: 437px) {
        font-size: 1.2em;
    }
}

p {
    font-weight: 500;
    font-size: 1.17em;
    line-height: 130%;
}

a {
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
    border-bottom: 3px solid $main-color;

    &:hover {
        border-color: rgba(0, 0, 0, 0) !important;
    }
}

body,
#wrap {
    background-color: $bg-color;
}

section,
main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 7vw;
}

ul {
    padding-left: 0;

    li {
        list-style: none;
        margin-bottom: 0.25em;
    }
}

figcaption {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
}

#logo-container {
    left: 7vw;
    max-width: 1500px;
    mix-blend-mode: multiply;

    #logo {
        box-sizing: unset;
        width: $logo-width;
        border: $logo-border solid $main-color;
        padding: $logo-padding;
        display: inline-block;
        margin: 10vh 0 1vh;

        // transform-origin: top left;
        // transform: scale(1.5);
        svg {
            fill: $main-color;
        }

        border-color: $main-color;

        * {
            transition: none;
        }

        &:hover {
            svg {
                fill: $bg-color;
            }

            background-color: $main-color;
        }
    }
}



.land {
    padding: 0 7vw;
    min-height: 80vh;
    max-width: unset;
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

#top {
    height: fit-content;
    display: grid;
}

.heading {
    display: inline-block;
}

.button {
    box-sizing: border-box;
    width: max-content;

    h4 {
        margin: 0;
        font-weight: 800;
        font-size: 1em;
    }
}

.grid {
    display: grid;
}

footer {
    width: 100%;
    padding-bottom: 3vh;

    h4 {
        display: block;
        font-size: 0.65rem;
        margin: 0 auto 0.5em;
        text-align: center;

        @media only screen and (min-width: 437px) {
            font-size: 0.75em;
        }
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  
    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
  }
  
  .pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
  
    pointer-events: none;
  }
  