@import "_global.scss";

#top {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    #seeking {
        max-width: 25ch;

        @media only screen and (min-width: 437px) {
            max-width: none;
        }
    }
}

#wrap {
    margin: 0 auto;
}

.land {
    max-width: 1500px;
    grid-template-columns: 1fr;
    grid-template-areas: "logo""name""sub""seek";
    grid-row-gap: 1.5em;
    grid-template-rows: repeat(3, max-content);
    min-height: 30em;
    padding: 20vh 7vw;
    width: unset;
    height: 97.5vh;

    h1 {
        grid-area: name;
        font-size: 2.85em;
        line-height: 100%;
        margin: 0;
        height: fit-content;
        align-self: end;
        font-weight: 600;
        overflow: hidden;
    }

    h2 {
        grid-area: sub;
        // font-size: 1.2em;
        margin-top: 0;
        max-width: 24ch;

        a {
            margin-top: 1.5em;
            display: block;
            width: max-content;

            &:after {
                padding-left: 0.5em;
            }
        }
    }

    h3 {
        font-weight: 400;
        opacity: 0.5;
        grid-area: seek;
    }

    #logo-container {
        grid-area: logo;
        margin-bottom: 1.6em;

        #logo {
            margin: 0;
        }
    }

    @media only screen and (min-width: 540px) {
        grid-column-gap: 1.75em;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 6em 1fr;
        grid-template-areas: "logo name"
            ". sub"
            ". seek";

        #bar {
            display: none;
        }

        h1 {
            font-size: 3.25em;
        }

        // h2 {
        //     font-size: 1.3em;
        // }

        #logo-container {
            justify-self: end;
            align-self: end;
            margin-bottom: 0;

            // #logo {
            //     transform-origin: bottom right;
            //     transform: scale(1.75);
            // }
        }
    }

    @media only screen and (min-width: 768px) {
        grid-gap: 1.5em 3em;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr;

        // #logo-container {
        //     #logo {
        //         transform: scale(2.25);
        //     }
        // }

        h1 {
            font-size: 3.75em;
        }

        // h2 {
        //     font-size: 1.5em;
        // }
    }
}

#project-wrap {
    margin-bottom: 12.5vh;
    padding: 0;

    h4 {
        margin-block-end: 0;
        text-align: center;
    }
}

#projects-section {
    grid-gap: 8vh;

    .project {
        .type {
            border-top: $logo-border solid $main-color;
            width: 133px;
            padding-top: 0.5em;
        }

        .project-link {
            border: none;
            grid-row-gap: 1em;

            * {
                margin: 0;
            }

            .img {
                object-fit: cover;
                height: 20em;
                margin-top: 1.2em;
                background-size: cover;
                background-position: center;
                background-blend-mode: exclusion;
                background-color: $main-color;
            }

            p {
                max-width: 40ch;

                &:after {
                    padding-inline-start: 0.5em;
                    transition: all 0.2s ease;
                }
            }
        }

        &#dungeons .project-link .img {
            background-image: url('../img/dungeons.png');
        }

        &#makercube .project-link .img {
            background-image: url('../img/makercube-4.jpg');
        }

        &#viff .project-link .img {
            background-image: url('../img/viff.jpg');
        }

        &#olivegarden .project-link .img {
            background-image: url('../img/lftog\ index.png');
        }

        &#visier .project-link .img {
            background-image: url('../img/visier/Visier.jpg');
        }

        &#nordic .project-link .img {
            background-image: url('../img/nordic/nordic\ header-home.jpg');
        }
    }



    @media only screen and (min-width: 768px) {
        .project {
            grid-template-columns: 1fr 5fr;
            grid-gap: 1.5em 3em;

            .type {
                justify-self: end;
                text-align: right;
            }

            .project-link {

                .img {
                    width: calc(calc(100% / 3) * 2);
                    object-fit: cover;
                    height: 20em;
                }

                &:hover {
                    .img {
                        background-color: black;
                    }

                    p:after {
                        padding-inline-start: 1em;
                    }
                }
            }
        }
    }
}

/*

        THIS IS THE LIVE CSS LEFT HERE IN
        CASE I ROYALLY FUCK EVERYTHING UP

*/

// .project {
//     text-decoration: none;
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr;
//     background-size: cover;
//     background-blend-mode: exclusion;
//     background-color: $main-color;

//     @media only screen and (min-width: 640px) {
//         grid-template-rows: 1fr;
//     }

//     * {
//         width: fit-content;
//     }

//     h3 {
//         height: inherit;
//         margin: 0;
//         grid-row: 1;
//         grid-column: 1;
//         text-transform: unset;
//         mix-blend-mode: multiply;
//         text-align: center;
//         width: 100%;
//         font-size: 310%;
//         font-weight: 800;
//         line-height: 100%;
//         padding: 10vh 0;
//     }

//     p {
//         max-width: 22ch;
//         -ms-grid-row: 2;
//         grid-row: 2;
//         -ms-grid-column: 1;
//         grid-column: 1;
//         margin: 1em auto;
//         display: none;
//     }

//     @media only screen and (min-width: 640px) {
//         p {
//             display: block;
//         }
//     }

//     @media only screen and (min-width: 437px) {
//         &:hover {
//             box-shadow: 0px 0.2em 4em $shadow-color;

//             h3 {
//                 background-color: $main-color;
//                 color: $bg-color;

//             }

//             // span {
//             //     margin-left: 1em;
//             // }
//         }
//     }
// }

// #project-2 {
//     background-image: url('../img/makercube-4.jpg');
//     background-position: center;

// }

// #project-1 {
//     background-image: url('../img/dungeons.png');
//     background-position: center;
// }

// #project-3 {
//     background-image: url('../img/visier/Visier.jpg');
//     background-position: center;
//     // @media only screen and (min-width: 640px) {
//     //     grid-column: 1 / 3;
//     // }

//     // @media only screen and (min-width: 1200px) {
//     //     grid-column: span 1;
//     // }
// }

// #project-4 {
//     background-image: url('../img/nordic/nordic\ header-home.jpg');
//     background-position: center;
// }


.content {
    margin: 3vh auto 0;
    padding: 0.5em 1.5em 0.75em;
    // grid-row: 4 / 5;
    // grid-column: 1 / 3;
    width: 100%;

    // background-color: $bg-color;
    // padding: 1em;


}

/* #project-1 .img, #project-1 .content{
    margin-left: 0;
}

#project-4 .img, #project-4 .content{
    margin-right: 0;
} */



// #project-3 {
//     // &:after {
//     //     content: "";
//     //     display: block;
//     //     position: absolute;
//     //     right: -7vw;
//     //     width: 7vw;
//     //     height: 1px;
//     //   }
// }

#about{
    background-color: $main-color;
    // max-width: unset;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    box-shadow: 0px 5px 75px $shadow-color;
}
#about-grid {
    max-width: 1500px;
    grid-template-columns: 1fr;
    grid-gap: 1.5em 3em;
    margin: 0 auto;
    * {
        grid-column: 1;
        color: $bg-color;
    }
    .type {
        border-top: $logo-border solid $bg-color;
        width: 133px;
        padding-top: 0.5em;
    }
    img {
        margin-top: 1.2em;
        max-width: 100%;
        object-fit: cover;
        object-position: center bottom;
        mix-blend-mode: exclusion;
    }

    p {
        font-size: 1.25em;
        margin: 0;
        max-width: 52ch;
    }

    #social {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        a {
            font-size: 1.17em;
            width: min-content;
            margin-right: 3em;
            margin-top: 1em;
            border-color: $bg-color;
        }
    }
    @media screen and (min-width: 768px){
        grid-template-columns: 1fr 5fr;
        * {
            grid-column: 2;
        }
        .type {
            grid-column: 1;
            justify-self: end;
            text-align: right;
        }
        #social{
            flex-direction: row;
        }
    }
}

.pace .pace-progress {
    background-color: $main-color;
}