@import url("https://use.typekit.net/can2owv.css");
::-webkit-scrollbar {
  display: none;
}

* {
  font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #00345c;
  letter-spacing: 0.0em;
}

h1,
h2 {
  font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.8em;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: -0.7px;
}

@media only screen and (min-width: 437px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
}

h3 {
  margin-bottom: 0.25em;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

h4.sentence {
  text-transform: none;
}

@media only screen and (min-width: 437px) {
  h4 {
    font-size: 1.2em;
  }
}

p {
  font-weight: 500;
  font-size: 1.17em;
  line-height: 130%;
}

a {
  text-decoration: none;
}

.link {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 700;
  border-bottom: 3px solid #00345c;
}

.link:hover {
  border-color: rgba(0, 0, 0, 0) !important;
}

body,
#wrap {
  background-color: #fefef3;
}

section,
main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 7vw;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  margin-bottom: 0.25em;
}

figcaption {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}

#logo-container {
  left: 7vw;
  max-width: 1500px;
  mix-blend-mode: multiply;
}

#logo-container #logo {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  width: 4.75rem;
  border: calc(calc(4.75rem / 4) / 2) solid #00345c;
  padding: calc(4.75rem / 4);
  display: inline-block;
  margin: 10vh 0 1vh;
  border-color: #00345c;
}

#logo-container #logo svg {
  fill: #00345c;
}

#logo-container #logo * {
  -webkit-transition: none;
  transition: none;
}

#logo-container #logo:hover {
  background-color: #00345c;
}

#logo-container #logo:hover svg {
  fill: #fefef3;
}

.land {
  padding: 0 7vw;
  min-height: 80vh;
  max-width: unset;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#top {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
}

.heading {
  display: inline-block;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button h4 {
  margin: 0;
  font-weight: 800;
  font-size: 1em;
}

.grid {
  display: -ms-grid;
  display: grid;
}

footer {
  width: 100%;
  padding-bottom: 3vh;
}

footer h4 {
  display: block;
  font-size: 0.65rem;
  margin: 0 auto 0.5em;
  text-align: center;
}

@media only screen and (min-width: 437px) {
  footer h4 {
    font-size: 0.75em;
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  pointer-events: none;
}

#top {
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#top #seeking {
  max-width: 25ch;
}

@media only screen and (min-width: 437px) {
  #top #seeking {
    max-width: none;
  }
}

#wrap {
  margin: 0 auto;
}

.land {
  max-width: 1500px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "name" "sub" "seek";
  grid-row-gap: 1.5em;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  min-height: 30em;
  padding: 20vh 7vw;
  width: unset;
  height: 97.5vh;
}

.land h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: name;
  font-size: 2.85em;
  line-height: 100%;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 600;
}

.land h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sub;
  margin-top: 0;
  max-width: 24ch;
}

.land h2 a {
  margin-top: 1.5em;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.land h2 a:after {
  padding-left: 0.5em;
}

.land h3 {
  font-weight: 400;
  opacity: 0.5;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: seek;
}

.land #logo-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  margin-bottom: 1.6em;
}

.land #logo-container #logo {
  margin: 0;
}

@media only screen and (min-width: 540px) {
  .land {
    grid-column-gap: 1.75em;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 6em 1fr;
        grid-template-rows: 6em 1fr;
        grid-template-areas: "logo name" ". sub" ". seek";
  }
  .land #bar {
    display: none;
  }
  .land h1 {
    font-size: 3.25em;
  }
  .land #logo-container {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .land {
    grid-gap: 1.5em 3em;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .land h1 {
    font-size: 3.75em;
  }
}

#project-wrap {
  margin-bottom: 12.5vh;
  padding: 0;
}

#project-wrap h4 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  text-align: center;
}

#projects-section {
  grid-gap: 8vh;
}

#projects-section .project .type {
  border-top: calc(calc(4.75rem / 4) / 2) solid #00345c;
  width: 133px;
  padding-top: 0.5em;
}

#projects-section .project .project-link {
  border: none;
  grid-row-gap: 1em;
}

#projects-section .project .project-link * {
  margin: 0;
}

#projects-section .project .project-link .img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20em;
  margin-top: 1.2em;
  background-size: cover;
  background-position: center;
  background-blend-mode: exclusion;
  background-color: #00345c;
}

#projects-section .project .project-link p {
  max-width: 40ch;
}

#projects-section .project .project-link p:after {
  -webkit-padding-start: 0.5em;
          padding-inline-start: 0.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#projects-section .project#dungeons .project-link .img {
  background-image: url("../img/dungeons.png");
}

#projects-section .project#makercube .project-link .img {
  background-image: url("../img/makercube-4.jpg");
}

#projects-section .project#viff .project-link .img {
  background-image: url("../img/viff.jpg");
}

#projects-section .project#visier .project-link .img {
  background-image: url("../img/visier/Visier.jpg");
}

#projects-section .project#nordic .project-link .img {
  background-image: url("../img/nordic/nordic header-home.jpg");
}

@media only screen and (min-width: 768px) {
  #projects-section .project {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    grid-gap: 1.5em 3em;
  }
  #projects-section .project .type {
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: right;
  }
  #projects-section .project .project-link .img {
    width: calc(calc(100% / 3) * 2);
    -o-object-fit: cover;
       object-fit: cover;
    height: 20em;
  }
  #projects-section .project .project-link:hover .img {
    background-color: black;
  }
  #projects-section .project .project-link:hover p:after {
    -webkit-padding-start: 1em;
            padding-inline-start: 1em;
  }
}

/*

        THIS IS THE LIVE CSS LEFT HERE IN
        CASE I ROYALLY FUCK EVERYTHING UP

*/
.content {
  margin: 3vh auto 0;
  padding: 0.5em 1.5em 0.75em;
  width: 100%;
}

/* #project-1 .img, #project-1 .content{
    margin-left: 0;
}

#project-4 .img, #project-4 .content{
    margin-right: 0;
} */
#about {
  background-color: #00345c;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
  -webkit-box-shadow: 0px 5px 75px rgba(0, 52, 92, 0.4);
          box-shadow: 0px 5px 75px rgba(0, 52, 92, 0.4);
}

#about-grid {
  max-width: 1500px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5em 3em;
  margin: 0 auto;
}

#about-grid * {
  -ms-grid-column: 1;
  grid-column: 1;
  color: #fefef3;
}

#about-grid .type {
  border-top: calc(calc(4.75rem / 4) / 2) solid #fefef3;
  width: 133px;
  padding-top: 0.5em;
}

#about-grid img {
  margin-top: 1.2em;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  mix-blend-mode: exclusion;
}

#about-grid p {
  font-size: 1.25em;
  margin: 0;
  max-width: 52ch;
}

#about-grid #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}

#about-grid #social a {
  font-size: 1.17em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 3em;
  margin-top: 1em;
  border-color: #fefef3;
}

@media screen and (min-width: 768px) {
  #about-grid {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  #about-grid * {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #about-grid .type {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: right;
  }
  #about-grid #social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.pace .pace-progress {
  background-color: #00345c;
}
/*# sourceMappingURL=main.css.map */