html * {
    font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.02em;
    line-height: 1.25;
}

.container {
    margin-top: 7.5em;
    position: relative;
    @media (min-width: 768px) {
        margin-top: 27vh;
    }
}

h1 {
    font-size: 2.25em;
    letter-spacing: -0.0625em;
    @media (min-width: 768px) {
        font-size: 4em;
    }
}

h2 {
    a {
        text-decoration: none;
    }
    letter-spacing: -0.04em;
    font-size: 1.5em;
    @media (min-width: 768px) {
        font-size: 1.75em;
    }
    @media (min-width: 992px) {
        font-size: 2.75em;
    }
}

h3 {
    letter-spacing: -0.03em;
    font-size: 2em;
}

h4 {
    letter-spacing: -0.04em;
    font-size: 1.45em;
}

p {
    font-size: 0.85em;
    line-height: 1.2em;
    @media (min-width: 768px) {
        font-size: 1.02em;
    }
}

hr {
    margin: 0em;
    background-color: black;
    height: 12px;
    border: none;
    max-width: 171px;
    // @media (min-width: 768px) {
    //     height: 12px;
    // }
    // @media (min-width: 992px) {
    //     height: 10px;
    // }
    // @media (min-width: 1200px) {
    //     height: 12px;
    // }
}

a {
    font-weight: bold;
    color: black;
}

.logo-container {
    #logo {
        min-width: 9.5em;
        //  @media (max-width: 768px) {
        max-width: 171px;
        // }
    }
}

.copy {
    margin-top: 13em;
    h1,
    h2 {
        margin-top: -0.52em;
        margin-bottom: 0.07em;
    }
    h4 {
        margin-top: 0.5em;
        font-weight: 400;
    }
    p {
        margin-top: 0.48em;
        margin-bottom: 1.2em;
    }
    a {
        font-weight: bold;
        color: black;
        &:hover {
            text-decoration: none;
            margin-top: 1em;
            div {
                h1,
                h2 {
                    margin-bottom: 0em;
                }
                p {
                    margin-top: 1.25em;
                }
                a {
                    font-weight: bold;
                    color: black;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.img {
    div {
        height: 12.5em;
        background-color: gray;
        @media (min-width: 768px) {
            height: 17.5em;
        }
    }
}

.brixwork {
    @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
    @media (min-width: 992px) {
        margin-top: -1em;
    }
}

.frame {
    box-sizing: border-box;
    border: 12px solid black;
    border-bottom: none;
    position: fixed;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 50%;
    z-index: -3;
}

.frame-bot {
    box-sizing: border-box;
    border: 12px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    position: fixed;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 50%;
    z-index: 99;
}


