* {
  transition: all 0.15s ease; }

a {
  color: unset;
  text-decoration: unset; }

html,
body {
  width: 100%;
  margin: 0; }

h1 {
  font-family: "Archivo Black", arial, sans-serif;
  text-align: center;
  height: inherit;
  font-size: 24pt;
  line-height: 85%;
  text-transform: uppercase;
  margin: 0; }

h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  display: inline;
  box-sizing: border-box; }

h2 {
  font-size: 20pt;
  font-weight: 700; }

h3 {
  font-size: 16pt;
  font-weight: 700; }

h4 {
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  line-height: 148%; }

.container {
  max-width: 320px;
  display: grid;
  margin: 20% auto 0em; }

.home-container {
  grid-template-rows: 72px auto 64px 64px 64px;
  grid-template-columns: 1fr; }
  .home-container .logo {
    grid-row: 2;
    box-sizing: border-box;
    padding: 22px;
    border: 10px solid black;
    margin: 32px 92px; }

.projects-container {
  grid-template-rows: 64px 64px 32px 100px auto 64px;
  grid-template-columns: 128px 64px 128px; }
  .projects-container .logo {
    border: 5px solid black;
    box-sizing: border-box;
    padding: 7px;
    margin: 5px;
    grid-row: 1;
    grid-column: 2; }
  .projects-container .title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    text-align: center; }
  .projects-container #visier-title {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4; }
    .projects-container #visier-title h1 {
      text-align: left;
      font-size: 20pt; }
  .projects-container #visier-year {
    grid-row: 5;
    grid-column: 1;
    box-sizing: border-box;
    border-bottom: 5px solid black; }
  .projects-container #visier-body {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4; }
  .projects-container .read-more {
    grid-column: 3;
    align-self: end;
    text-align: right; }
    .projects-container .read-more#visier-read-more {
      grid-row: 5; }
  .projects-container .soon {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6;
    align-self: end;
    color: #cecece; }

.title {
  grid-column: 1; }

.button {
  grid-column: 1;
  align-self: center;
  text-align: center; }

#projects {
  grid-row: 3; }

#resume {
  grid-row: 4; }

#about {
  grid-row: 5; }

@media (min-width: 960px) {
  .container {
    max-width: 600px;
    margin: 128px auto 0em;
    grid-gap: 18px; }
  h3 {
    font-size: 20pt; }
  .home-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 64px auto 64px; }
    .home-container .title {
      grid-column-start: 1;
      grid-column-end: 4; }
      .home-container .title h1 {
        font-size: 52pt; }
    .home-container .logo {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 40px;
      border: 22px solid black;
      margin: 64px 152px; }
  .projects-container {
    grid-template-rows: 64px 64px 32px 64px 128px 128px;
    grid-template-columns: 64px 400px auto; }
    .projects-container .logo {
      border: 5px solid black;
      padding: 7px;
      grid-column: 1;
      grid-row: 1; }
    .projects-container .title {
      grid-column-start: 1;
      text-align: left; }
    .projects-container #visier-title h1 {
      font-size: 32pt; }
    .projects-container #visier-year {
      grid-row: 4;
      grid-column: 1;
      box-sizing: border-box;
      border-bottom: 5px solid black; }
    .projects-container #visier-body {
      grid-row: 4;
      grid-column: 2; }
    .projects-container .read-more {
      grid-column: 3;
      align-self: end; }
      .projects-container .read-more#visier-read-more {
        grid-row: 4; }
    .projects-container .soon {
      grid-column: 1;
      grid-row: 6; }
  .button {
    grid-row: 3 !important;
    align-self: end; }
    .button h3:hover {
      border-bottom: 3px solid black; }
  #projects {
    grid-column: 1;
    text-align: left; }
  #resume {
    grid-column: 2;
    text-align: center; }
  #about {
    grid-column: 3;
    text-align: right; } }
