html * {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.02em;
  line-height: 1.25; }

.container {
  margin-top: 7.5em;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      margin-top: 27vh; } }

h1 {
  font-size: 2.25em;
  letter-spacing: -0.0625em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4em; } }

h2 {
  letter-spacing: -0.04em;
  font-size: 1.5em; }
  h2 a {
    text-decoration: none; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.75em; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.75em; } }

h3 {
  letter-spacing: -0.03em;
  font-size: 2em; }

h4 {
  letter-spacing: -0.04em;
  font-size: 1.45em; }

p {
  font-size: 0.85em;
  line-height: 1.2em; }
  @media (min-width: 768px) {
    p {
      font-size: 1.02em; } }

hr {
  margin: 0em;
  background-color: black;
  height: 12px;
  border: none;
  max-width: 171px; }

a {
  font-weight: bold;
  color: black; }

.logo-container #logo {
  min-width: 9.5em;
  max-width: 171px; }

.copy {
  margin-top: 13em; }
  .copy h1,
  .copy h2 {
    margin-top: -0.52em;
    margin-bottom: 0.07em; }
  .copy h4 {
    margin-top: 0.5em;
    font-weight: 400; }
  .copy p {
    margin-top: 0.48em;
    margin-bottom: 1.2em; }
  .copy a {
    font-weight: bold;
    color: black; }
    .copy a:hover {
      text-decoration: none; }

.img div {
  height: 12.5em;
  background-color: gray; }
  @media (min-width: 768px) {
    .img div {
      height: 17.5em; } }

@media (min-width: 768px) {
  .brixwork {
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 992px) {
  .brixwork {
    margin-top: -1em; } }

.frame {
  box-sizing: border-box;
  border: 12px solid black;
  border-bottom: none;
  position: fixed;
  top: 18%;
  left: 10%;
  width: 80%;
  height: 50%;
  z-index: -3; }

.frame-bot {
  box-sizing: border-box;
  border: 12px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  position: fixed;
  top: 18%;
  left: 10%;
  width: 80%;
  height: 50%;
  z-index: 99; }
