* {
	transition: all 0.15s ease;
}

a {
	color: unset;
	text-decoration: unset;
}

html,
body {
	width: 100%;
	margin: 0;
}

h1 {
	font-family: "Archivo Black", arial, sans-serif;
	text-align: center;
	height: inherit;
	font-size: 24pt;
	line-height: 85%;
	text-transform: uppercase;
	margin: 0;
}

h2,
h3,
h4 {
	font-family: "Roboto Mono", monospace;
	margin: 0;
	display: inline;
	box-sizing: border-box;
}

h2 {
	font-size: 20pt;
	font-weight: 700;
}

h3 {
	font-size: 16pt;
	font-weight: 700;
}

h4 {
	font-size: 12pt;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-family: 'Archivo', sans-serif;
	margin: 0;
	line-height: 148%;
}

.container {
	display: grid;
	margin: 20% auto 64px;
}

.home-container {
	grid-template-rows: 72px auto 64px 64px 64px;
	grid-template-columns: 1fr;
	max-width: 320px;
	.logo {
		grid-row: 2;
		box-sizing: border-box;
		padding: 22px;
		border: 10px solid black;
		margin: 32px 92px;
	}
	.title {
		grid-column: 1;
	}
	.button {
		grid-column: 1;
		align-self: center;
		text-align: center;
		h3 {
			font-weight: 400;
		}
	}
	#projects {
		grid-row: 3;
	}
	#resume {
		grid-row: 4;
	}
	#about {
		grid-row: 5;
	}
}

.projects-container, .about-container {
	grid-template-rows: 64px 64px 32px 100px auto 64px;
	grid-template-columns: 64px auto;
	max-width: 340px;
	.logo {
		border: 5px solid black;
		box-sizing: border-box;
		padding: 7px;
		margin: 5px 10px 5px 0;
		grid-row: 1;
		grid-column: 1;
	}
	.title {
		grid-column: 1;
		grid-row: 2;
	}
	#visier-title {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 4;
		h1 {
			text-align: left;
			font-size: 18pt;
		}
	}
	#visier-year {
		grid-row: 5;
		grid-column: 1;
		box-sizing: border-box;
	}
	#visier-body {
		grid-row: 4;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.read-more {
		grid-column: 3;
		align-self: end;
		text-align: right;
		&#visier-read-more {
			grid-row: 5;
		}
	}
	.soon {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row: 6;
		align-self: end;
		color: rgba($color: #000000, $alpha: 0.2);
	}
}

.about-container{
	grid-template-rows: 64px 64px 32px auto auto 64px;
	.soon{
		h3:hover{
			color: rgba($color: #000000, $alpha: 1.0);
		}
	}
}

.project-container {
	max-width: 340px;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 8px;
	.logo {
		border: 5px solid black;
		padding: 7px;
		grid-row: 1;
		grid-column: span 2;
		height: 32px;
		margin: 5px 10px 5px 0;
		width: 32px;
	}
	.section-head,
		.section-body {
			grid-column: span 2;
		}
	.title {
		grid-column: span 2;
		margin-bottom: 16px;
		h1 {
			text-align: left;
			font-size: 18pt;
		}
	}
	img {
		margin: 32px auto 0;
		grid-column: span 2;
		width: 100%;
		&#workflow{
			width: 60%;
		}
	}
	.img-desc {
		margin-bottom: 32px;
		p {
			font-size: 10pt;
			text-align: center;
		}
		grid-column: span 2;
	}
	.section-head{
		margin-top: 16px
	}
}

@media (min-width: 960px) {
	.container {
		max-width: 600px;
		margin: 128px auto 64px;
		grid-gap: 18px;
	}
	h3 {
		font-size: 20pt;
	}
	.home-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 64px auto 64px;
		.title {
			grid-column-start: 1;
			grid-column-end: 4;
			h1 {
				font-size: 52pt;
			}
		}
		.logo {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 3;
			padding: 40px;
			border: 22px solid black;
			margin: 64px 152px;
		}
		.button {
			grid-row: 3 !important;
			align-self: end;
			h3 {
				&:hover {
					border-bottom: 3px solid black;
				}
			}
		}
		#projects {
			grid-column: 1;
			text-align: left;
		}
		#resume {
			grid-column: 2;
			text-align: center;
		}
		#about {
			grid-column: 3;
			text-align: right;
		}
	}
	.projects-container, .about-container {
		grid-template-rows: 64px 64px 32px 64px 128px 128px;
		grid-template-columns: 64px 400px auto;
		.logo {
			border: 5px solid black;
			padding: 7px;
			grid-column: 1;
			grid-row: 1;
		}
		.title {
			grid-column-start: 1;
			justify-self: unset;
			text-align: left;
		}
		#visier-title {
			h1 {
				font-size: 32pt;
			}
		}
		#visier-year {
			grid-row: 4;
			grid-column: 1;
			box-sizing: border-box;
		}
		#visier-body {
			grid-row: 4;
			grid-column: 2;
		}
		.read-more {
			grid-column: 3;
			align-self: end;
			&#visier-read-more {
				grid-row: 4;
			}
		}
		.soon {
			grid-column: 1;
			grid-row: 6;
		}
	}
	.project-container {
		grid-template-columns: 1fr 1fr;
		max-width: 768px;
		.logo {
			border: 5px solid black;
			padding: 7px;
			grid-row: 1;
			grid-column: span 2;
			height: 32px;
			margin: 5px 10px 5px 0;
			width: 32px;
		}
		.title {
			height: 64px;
			grid-row: 2;
			grid-column: span 2;
			h1 {
				font-size: 36pt;
				text-align: left;
			}
		}
		img {
			margin: 32px auto 0px; 
			width: 100%;
			align-self: center;
			&#planning,
			&#analytics {
				grid-row: 7;
			}
			&#terms, &#final{
				width: 75%;
			}
			&#workflow{
				width:35%;
			}
		}
		.img-desc {
			margin-bottom: 32px;
			p {
				font-size: 10pt;
				text-align: center;
			}
			&#terms, &#workflow, &#final{
				grid-column: span 2;
			}
		}
		#planning {
			grid-column: 1;
		}
		#analytics {
			grid-column: 2;
		}
		.metadata {
			grid-column: span 1;
		}
		.section-head,
		.section-body {
			grid-column: span 2;
		}
	}
}