@import url("https://use.typekit.net/can2owv.css");
::-webkit-scrollbar {
  display: none;
}

* {
  font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #00345c;
  letter-spacing: 0.0em;
}

h1,
h2 {
  font-family: nimbus-sans, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.8em;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: -0.7px;
}

@media only screen and (min-width: 437px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.6rem;
}

h3 {
  margin-bottom: 0.25em;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

h4.sentence {
  text-transform: none;
}

@media only screen and (min-width: 437px) {
  h4 {
    font-size: 1.2em;
  }
}

p {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 130%;
}

body,
#wrap {
  background-color: #fdfdef;
}

section, main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 7vw;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  margin-bottom: 0.25em;
}

figcaption {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}

#logo {
  bottom: 3vh;
  right: 7vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3rem;
  border: 0.23rem solid #00345c;
  padding: 0.5rem 0.4rem 0.3rem;
  display: inline-block;
  margin: 10vh 0 1vh;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-color: #00345c;
}

@media only screen and (min-width: 720px) {
  #logo {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}

@media only screen and (min-width: 1024px) {
  #logo {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

#logo svg {
  fill: #00345c;
}

#logo * {
  -webkit-transition: none;
  transition: none;
}

#logo:hover {
  background-color: #00345c;
}

#logo:hover svg {
  fill: #fdfdef;
}

#land {
  padding: 0 7vw;
  min-height: 80vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#top {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
}

.heading {
  display: inline-block;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button h4 {
  margin: 0;
  font-weight: 800;
  font-size: 1em;
}

.card {
  -webkit-box-shadow: 0px 0.2em 1em rgba(0, 52, 92, 0.4);
          box-shadow: 0px 0.2em 1em rgba(0, 52, 92, 0.4);
  border-radius: 0.2em;
  background-color: #fdfdef;
}

.grid {
  display: -ms-grid;
  display: grid;
}

footer {
  width: 100%;
  padding-bottom: 3vh;
}

footer h4 {
  display: block;
  font-size: 0.65rem;
  margin: 0 auto 0.5em;
  text-align: center;
}

@media only screen and (min-width: 437px) {
  footer h4 {
    font-size: 0.75em;
  }
}

#top {
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#top #logo {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#top #seeking {
  max-width: 25ch;
}

@media only screen and (min-width: 437px) {
  #top #seeking {
    max-width: none;
  }
}

#my {
  margin-top: 20vh;
  font-size: 1.5093749165em;
  font-weight: 700;
  max-width: 21ch;
}

@media only screen and (min-width: 437px) {
  #my {
    font-size: 1.770312em;
  }
}

@media only screen and (min-width: 720px) {
  #my {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  #my {
    font-size: 3em;
  }
}

#middle {
  margin: 0 0 4vh;
}

#middle #desc {
  max-width: 45ch;
}

#project-wrap {
  margin-bottom: 12.5vh;
  padding: 0;
}

#project-wrap h4 {
  padding-left: 7vw;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#project-container {
  width: 100%;
  overflow-x: scroll;
  padding-top: 3em;
  -webkit-overflow-scrolling: touch;
  overflow-y: visible;
}

@media only screen and (min-width: 720px) {
  #project-container {
    overflow-x: visible;
  }
}

#projects {
  margin-bottom: 5vh;
  width: 268vw;
  -ms-grid-columns: (80vw)[3];
      grid-template-columns: repeat(3, 80vw);
  padding: 0 7vw;
  -webkit-overflow-scrolling: touch;
  grid-gap: 7vw;
}

@media only screen and (min-width: 640px) {
  #projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: auto;
    grid-gap: 2vw;
  }
}

@media only screen and (min-width: 1200px) {
  #projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.project {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-size: cover;
  background-blend-mode: exclusion;
  background-color: #00345c;
}

@media only screen and (min-width: 640px) {
  .project {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.project * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.project h3 {
  height: inherit;
  margin: 0;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  text-transform: unset;
  mix-blend-mode: multiply;
  text-align: center;
  width: 100%;
  font-size: 310%;
  font-weight: 800;
  line-height: 100%;
  padding: 8vh 0;
}

.project p {
  max-width: 22ch;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 1em auto;
  display: none;
}

@media only screen and (min-width: 640px) {
  .project p {
    display: block;
  }
}

@media only screen and (min-width: 437px) {
  .project:hover {
    -webkit-box-shadow: 0px 0.2em 4em rgba(0, 52, 92, 0.4);
            box-shadow: 0px 0.2em 4em rgba(0, 52, 92, 0.4);
  }
  .project:hover h3 {
    background-color: #00345c;
    color: #fdfdef;
  }
}

#project-2 {
  background-image: url("../img/makercube-4.jpg");
  background-position: center;
}

#project-1 {
  background-image: url("../img/dungeons.png");
  background-position: center;
}

@media only screen and (min-width: 640px) {
  #project-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media only screen and (min-width: 1200px) {
  #project-3 {
    grid-column: span 1;
  }
}

.content {
  margin: 3vh auto 0;
  padding: 0.5em 1.5em 0.75em;
  width: 100%;
}

#about #intro {
  width: 40ch;
}

/* #project-1 .img, #project-1 .content{
    margin-left: 0;
}

#project-4 .img, #project-4 .content{
    margin-right: 0;
} */
#about {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#about img {
  width: 25em;
  float: none;
  max-width: 100%;
  height: 50vh;
  margin: 3em 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media only screen and (min-width: 960px) {
  #about img {
    float: right;
    width: 30%;
    margin: -1em 0 1em 3em;
  }
}

#about p {
  font-size: 1.501em;
}

#about #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #social a {
  font-size: 1.5em;
}
/*# sourceMappingURL=main.css.map */